{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}

{% block body %}
    <h2>Créer une sortie</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(eventForm) }}
    <div>
        {{ form_widget(eventForm) }}
        {{ form_errors(eventForm) }}
    </div>
    <button>Envoyer !</button>
    {{ form_end(eventForm) }}
<a href="#">Publier la sortie</a>
        <a href="{{ path('main_index') }}">Annuler</a>
{% endblock %}
