{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} | Connexion
{% endblock %}

{% block header %}
    <div class="header__container">
        <div class="header__logo">
            <a class="header__link" href="{{ path('main_index') }}">
                <img class="header__img" src="#" alt="Logo">
                <h1 class="header__sigle">Sortir.com</h1>
            </a>
        </div>
    </div>
{% endblock %}

{% block connection %}
    <div class="login">
        <div class="login__container">
            <h2 class="register__title">Bienvenue :)</h2>
            <form class="login__main" method="post">
                {% if error %}
                    <div class="login__alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <div class="login__form">
                    <div class="login__fields">
                        <label class="form__label" for="inputEmail">Email</label>
                        <input class="form__field" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
                    </div>
                    <div class="login__fields">
                        <label class="form__label" for="inputPassword">Mot de passe</label>
                        <input class="form__field" type="password" name="password" id="inputPassword" autocomplete="current-password" required>
                    </div>
                    <div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div>
                        <label class="form__label">
                            <input class="form__checkbox" type="checkbox" name="_remember_me">Se souvenir de moi
                        </label>
                    </div>
                    <div class="login__remember">
                        <button class="form__button" type="submit">Valider</button>
                        <a class="form__link" href="{{ path('app_forgot_password_request') }}">
                            J'ai oublié mon mot de passe
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
