{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | S'inscrire
{% endblock %}

{% block connection %}
    <div class="login">
        <div class="login__container">
            <h2 class="register__title">Créez votre compte</h2>
            <div class="register__form">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.phone) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.campus) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                <div>
                    <button class="form__button" type="submit">S'inscrire</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>

    </div>

{% endblock %}
