{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block header %}
    {% if app.user %}
        <nav>
            <a href="{{ path('main_index') }}">Accueil</a>
            <a href="{{ path('user_profil') }}">Mon Profil</a>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </nav>
    {% endif %}
{% endblock %}
{% block body %}

    <style>
        table,
        td {
            border: 1px solid #333;
        }

        thead,
        tfoot {
            background-color: #333;
            color: #fff;
        }
    </style>

    <form action="{{ path('main_search') }}" method="GET">
        <label for="campus">Campus</label>
        <select id="campus" name="campus">
            {% for campus in  listCampus %}
                <option value="{{ campus.name }}">{{ campus.name }}</option>
            {% endfor %}
        </select><br>

        <label for="search">Le nom de la sortie contient :</label>
        <input type="text" id="search" name="search"><br>

        <label for="dateStar">Entre</label>
        <input type="datetime-local" id="dateStart" name="dateStart"><br>

        <label for="dateEnd">Et :</label>
        <input type="datetime-local" id="dateEnd" name="dateEnd"><br>

        <label for="eventManage">Sorties dont je suis l'organisateur/trice</label>
        <input type="checkbox" id="eventManage" name="eventManage"><br>

        <label for="eventIns">Sorties auquelles je suis inscrit/e</label>
        <input type="checkbox" id="eventIns" name="eventIns"><br>

        <label for="eventUnIns">Sorties dont je ne suis pas inscrit/e</label>
        <input type="checkbox" id="eventUnIns" name="eventUnIns"><br>

        <label for="eventOld">Sorties passée</label>
        <input type="checkbox" id="eventOld" name="eventOld" onclick="selectDate()" ><br>

        <input type="submit">
    </form>

    <table>
        <thead>
        <tr><th colspan="8">Liste des events</th><tr>
         <tr>
            <td>Nom</td>
            <td>Date de début</td>
            <td>Date de fin</td>
            <td>Date limite d'inscription</td>
            <td>Nombre max d'inscription</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
         </tr>

        </thead>
        <tbody>
        {% for event in listEvent %}
            {% set insc = '0' %}
            {% set orga = '0' %}

            {% for usr in event.users %}
                {% if usr.id == app.user.id %}
                    {% set insc = '1' %}
                {% endif %}

                {% if event.organisator.id == app.user.id %}
                    {% set orga = '1' %}
                {% endif %}
            {% endfor %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{event.dateStart | date('d/m/y h:i')}}</td>
                <td>{{(event.dateStart) | date_modify('+' ~ event.duration ~' minutes')| date('d/m/y h:i')}}</td>
                <td>{{event.inscriptionDateLimit | date('d/m/y h:i')}}</td>
                <td>{{event.nbMaxInscription}}</td>
                <td>{{event.state.label}}</td>

                <td>
                    {% if insc == '1' %}
                        x
                    {% endif %}
                </td>

                <td><a href="{{ path('user_detail', {'id': event.organisator.id }) }}"> {{event.organisator.username}}</a></td>
                <td>


                <td>{{event.organisator.name}}</td>
                <td> <a href="{{ path('event_detail', {'id': event.id}) }}">Afficher</a>


                    {% if insc == '1' %}
                        <a href="{{ path('event_desinscription' , {'id': event.id }) }}">Se désister</a>
                    {% else %}
                        <a href="{{ path('event_inscription' , {'id': event.id }) }}">S'inscrire</a>
                    {% endif %}

                    {% if orga == '1' %}
                        <a href="{{ path('event_update' , {'id': event.id }) }}">- Modifier</a>
{#                        <a href="{{ path('main_modify' , {'id': event.id }) }}">- Publier</a>#}
{#                        <a href="{{ path('main_modify' , {'id': event.id }) }}">- Annuler</a>#}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <p>pas de sorties</p>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('event_create') }}">Créer une sortie</a>


{% endblock %}