{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block header %}
    <div class="header__container">
        <div class="header__logo">
            <a class="header__link" href="{{ path('main_index') }}">
                <img class="header__img" src="#" alt="Logo">
                <h1 class="header__sigle">Sortir.com</h1>
            </a>
        </div>
        {% if app.user %}
            <nav>
                <label class="nav_menu" href="#">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('event_create') }}">Créer une sortie</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('user_profil') }}">Mon Profil</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('app_register') }}">
                            <i class="fa-solid fa-id-badge"></i>
                            Créer un utilisateur
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
        {% if not app.user %}
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="{{ path('app_login') }}">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            Se connecter
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    <div class="form__container">
        {{ form_start(filterForm) }}
        {{ form_errors(filterForm) }}
        {{ form_widget(filterForm) }}
        <small>
            {{ form_help(filterForm) }}
        </small>
        <div>
            <button class="form__button">Rechercher</button>
        </div>

    </div>
    {{ form_end(filterForm) }}
{% endblock %}

{% block event %}
    <div class="main__card">
        {% for event in listEvent %}
            <div class="card">
                {% set insc = '0' %}
                {% set orga = '0' %}
                    {% for usr in event.users %}
                        {% if usr.id == app.user.id %}
                            {% set insc = '1' %}
                        {% endif %}
                    {% endfor %}
                {% if event.organisator.id == app.user.id %}
                    {% set orga = '1' %}
                {% endif %}
                <div class="card__header">
                    <div class="card__nav">
                        <h4 class="card__title">
                            {{ event.name }}
                        </h4>
                        <p class="card__state">
                            {{event.state.label}}
                        </p>
                    </div>
                </div>
                <div class="card__main">
                    <div class="card__date">
                        <div class="card__date-days">
                            <p class="card__text">date de début de l'événement</p>
                            <p class="card__text">{{event.dateStart | date('d/m/y h:i')}}</p>
                        </div>
                        <div class="card__date-days">
                            <p class="card__text">clôture</p>
                            <p>{{(event.dateStart) | date_modify('+' ~ event.duration ~' minutes')| date('d/m/y h:i')}}</p>
                        </div>
                        <div class="card__registered">
                            <p class="card__text">inscrit ?</p>
                            {% if insc == '1' %}
                                <div>
                                    <p>oui</p>
                                    <i class="fa-regular fa-circle-check"></i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card__owner-participant">
                        <div class="card__owner">
                            <p class="card__text">organisateur</p>
                            <a class="card__link" href="{{ path('user_detail', {'id': event.organisator.id }) }}"> {{event.organisator.username}}</a>
                        </div>
                        <div class="card__number-participant">
                            <p class="card__text">places restantes {{event.nbMaxInscription}}</p>
                        </div>
                    </div>
                    {# Afficher détail dans tous les cas #}
                    <div class="card__action">
                        {#état = ouvert#}
                        {% if event.state.id == 2 %}
                            {% if orga == '0' %}
                                {% if insc == '1' %}
                                    <a class="card__link" href="{{ path('event_desinscription' , {'id': event.id }) }}">
                                        <div class="card__footer desinscription">
                                            <p>Se désister</p>
                                        </div>
                                    </a>
                                {% else %}
                                    <a class="card__link" href="{{ path('event_inscription' , {'id': event.id }) }}">
                                        <div class="card__footer inscription">
                                            <p>S'inscrire</p>
                                        </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <div class="card__modifier">
                                    <a class="card__link" href="{{ path('event_update' , {'id': event.id }) }}">
                                        <i class="fa-regular fa-pen-to-square"></i>  Modifier
                                    </a>
                                    <a class="card__link" href="{{ path('event_annulation' , {'id': event.id }) }}">
                                        <i class="fa-solid fa-ban"></i>  Annuler
                                    </a>
                                    <a class="card__link" href="{{ path('event_delete' , {'id': event.id }) }}">
                                        <i class="fa-regular fa-trash-can"></i>  Supprimer
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {#état = cloturée #}
                        {% if event.state.id == 3 %}
                            {% if orga == '1' %}
                                <a class="card__link" href="{{ path('event_update' , {'id': event.id }) }}"><i class="fa-regular fa-pen-to-square"></i>Modifier</a>
                                <a class="card__link" href="{{ path('event_delete' , {'id': event.id }) }}"><i class="fa-regular fa-trash-can"></i>Supprimer</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card__display">
                        <a class="card__display-link" href="{{ path('event_detail' , {'id': event.id }) }}"><i class="fa-regular fa-eye"></i>  Afficher</a>
                    </div>
                </div>
            </div>
            {% else %}
            <p>pas de sorties</p>
        {% endfor %}
    </div>
 {% endblock %}
