<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Sortir.com
            {% endblock %}</title>
{#        <link rel="stylesheet" href="{{ asset('css/normalizer.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
        <script src="{{ asset('js/script.js') }}"></script>
    </head>
    <body>
        {% block header %}
            {% if app.user %}
                <nav>
                    <a href="{{ path('main_index') }}">Accueil</a>
                    <a href="{{ path('user_profil') }}">Mon Profil</a>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </nav>
            {% endif %}

        {% endblock %}

        {% block body %}
        {% endblock %}
    </body>
</html>
